<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewDone</title>
</head>
<body>
    <div class="container">
        <h3><%= heading %></h3>
        <div class="container">
          <% if (locals.done){ %>
            <h3>Edit Done</h3>
          <form id="editfrom" method="post" action="/api/done/<%= done.id %>">
            <input type="text" name="title" value="<%=done.title %>" />
            <textarea id="content" name="content" rows="10"><%=done.content %></textarea>
            <button class="full-width" type="submit"><%= submit %></button>
          </form>
    
          <% } else { %>


        <form id="newTask" method="post" action="/api/done">
     
            <input type="text" name="title" placeholder="Title" required />
            <textarea name="content" id="escription" required rows="10"></textarea>
            <button type="submit"><%= submit %></button>
            <% } %>
          </form>
    
    </div>
</body>
</html>